.task-not-found {
    text-align: center;
    color: red;
    font-size: 300%;
    margin: 40% 30% 60% 30%;
}

.task-not-found-main {
    height: 100%;
    background-color: var(--main-bg-color);
}

.main-post-task {
    height: 100vh;
    background-color: var(--main-bg-color);
}

.main-background{
    margin:0% 20% 0% 20%;
}

.form-body {
    width:100%;
    height: 100%;
    overflow: hidden;
    padding: 15% 0% 0% 10%;
}

.form_body_left {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    float: left;
}

.form_body_right {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    margin-left: 50%;
}

.form_body_bottom {
    margin:5% 30% 0% 30%;
    height:100%;
}

.buttons {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.buttons .btn-save {
   margin-left:35%;
}

.buttons .btn-cancel {
    margin-left:10%;
}

.error {
    color: red;
}

.input-field{
    width: 100%
}

.input-date{
    width: 100%
}
