.not_found {
    text-align: center;
    color: red;
    font-size: 300%;
    margin: 30% 30% 30% 30%;
}

.main {
    margin: 3% 3% 3% 3%;
    height: 100%;
}

.form-body {
    width:100%;
    height: 100%;
    overflow: hidden;
    padding: 3% 0% 0% 10%;
}

.form_body_left {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    overflow-y: scroll;
    float: left;
}

.form_body_right {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    margin-left: 50%;
}

.form_body_bottom {
    margin:5% 30% 0% 30%;
    height:100%;
}

.buttons {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.buttons .btn-success {
   margin-left:40%;
    width:6%;
}

.buttons .btn-danger {
    margin-left:10%;
    width:6%;
}

.error {
    color: red;
}

textarea{
    resize: none;
}
