.task-not-found {
    text-align: center;
    color: red;
    font-size: 300%;
    margin: 20% 30% 60% 30%;
}

.main-post-task {
    height: 100vh;
}

.form-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0% 0% 0% 10%;
    margin-top: 2%;
}

.form_body_left {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    float: left;
}

.form_body_right {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    margin-left: 50%;
}

.form_body_bottom {
    margin: 2% 30% 0% 30%;
    height: 100%;
}

.buttons {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buttons .btn-save {
    margin-left: 38%;
}

.buttons .btn-cancel {
    margin-left: 10%;
}

.error {
    color: red;
}

.input-field {
    width: 100%
}

.input-date {
    width: 100%
}
