.filter {
  margin: 3% 17% 0% 17%;
  height: 100%;
}

.empty {
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  margin: 0 auto;
  background: url(/Frontend/public/no_tasks.png) center no-repeat;
  background-size: cover;
}

.empty_image {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(/Frontend/public/no_tasks.png) center no-repeat;
    background-size: cover;
}

.average-ratings {
    width: 100%;
    margin-left: 10%;
}