/* Individual item */
.bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10%;
    color: white;
    transition: color 0.2s;
    outline: none;
    /* border: 1px solid #d1d1d1; */
}

/* Change color on hover */
.bm-item:hover {
    text-decoration: none;
    background: white;
    color: #353A3F;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 3%;
    height: 5%;
    margin-left: 1%;
    margin-top: -4.5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 150%;
    width: 150%;
}

/* Color/shape of close button cross */
.bm-cross {
    background: white;
}

/* General sidebar styles */
.bm-menu {
    background: #353A3F;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #353A3F;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(80, 145, 71, 0.3);
}