.not-found {
    text-align: center;
    color: red;
    font-size: 300%;
    margin: 30% 30% 30% 30%;
}

.main-ratings-sponsor {
    margin: 3% 3% 0% 3%;
    height: 100%;
    background-color: var(--main-bg-color);
}

.main-background {
    margin: 0% 20% 0% 20%;
    padding-bottom: 1%;
}

.sorting-options {
    margin: 3% 0% 0% 65%;
    height: auto;
}

.sorting-options select {
    width: 35%;
}

.ratings-cards-main {
    margin: 0% 3% 0% 3%;
}

.rating-card  {
    width: 60%;
    margin: 3% 20% 3% 20%;
    padding: 2% 2% 2% 2%;
    height: auto;
    box-shadow: 0 0 20px -5px #666666;
    overflow: hidden;
}

.rating-card-left {
    width:50%;
    float: left;
}

.rating-card-right {
    width:40%;
    margin-left:60%;
    text-align: right;
}

.link {
    border:1px solid blue
}

.rating-card-right  Link:hover  {
    text-decoration: none;

}

.general-pagination {
    margin-left: 45%;
    margin-top: 1%;
}