.profile-not-found {
    text-align: center;
    color: red;
    font-size: 300%;
    margin: 20% 30% 60% 30%;
}

.profile-main {
    height: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.photo-main {
    overflow: hidden;
}

.edit-photo {
    float: left;
    margin-top: 7%;
    margin-left: 33%;
}

.edit-photo > input {
    display: none;
}

.edit-photo img {
    cursor: pointer;
}

.display_photo {
    margin-left: 42%;
    width: fit-content;
}

.profileName {
    color: #323f4d;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin-top: 1%;
    font-size: 200%;
}

.profile_body {
    width: 100%;
    padding: 3% 0% 0% 10%;
    overflow: hidden;
}

.profile_information_left {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    float: left;
}

.profile_information_right {
    border: 1px solid #d3d8de;
    padding: 2% 2% 0.5% 2%;
    width: 40%;
    margin-left: 50%;
}

.submit_button {
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.submit_button button {
    position: relative;
    left: 47%;
}

.error {
    color: red;
}

.small-label {
    color: #6e6e6e;
}

.form-check {
    width: 70%;
}

.input-field {
    width: 100%
}

.input-date {
    width: 100%
}

.dob-label {
    width: 20%
}

.address-autocomplete {
    background-color: inherit;
}

.input-field-address {
    width: 100%;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
    border-bottom-color: gray;
    border-bottom-width: thin;
}

.input-field-address:hover {
    border-bottom-color: rgba(0, 0, 0, 0.73);
    border-bottom-width: medium;
}

.input-field-address:focus {
    border-bottom-color: #313d8b;
    border-bottom-width: medium;
    outline: none;
}