.conversation-search {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .conversation-search-input {
    background: #f4f4f8;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
  }

  
  .conversation-search-input::placeholder {
    text-align: center;
  }
  
  .conversation-search-input:focus::placeholder {
    text-align: left;
  }

  .toolbar-button {
    color: #007aff;
    font-size: 28px;
    transition: all 0.1s;
  }
  
  .toolbar-button:hover {
    cursor: pointer;
    color: #0063ce;
  }
  
  .toolbar-button:active {
    color: #007aff;
    opacity: 0.25;
  }

  .conversation-list {
    display: flex;
    flex-direction: column;
  }